<div class="clearfix">
    <div class="col-md-12">
        <div class="col-md-12" style="padding-top: 30px;">
            <div class="col-md-12 jumbotron text-center">
                <div class="col-md-4">
                    <img src="assets/images/logos/jlg.png" style="width: 140px;" >
                </div>
                <div class="col-md-4">
                    <img src="assets/images/logos/genie.png" style="width: 140px;">
                </div>
                <div class="col-md-4">
                    <img src="assets/images/logos/snorkel.png" style="width: 140px;" >
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>