<div class="col-md-12">
    <div class="col-md-12">
    <div class='panel panel-primary' *ngIf='product'>
        <div class='panel-heading'>
            {{pageTitle + ': ' + product.DESCRIPCION}}
        </div>

        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-md-3'>Producto:</div>
                        <div class='col-md-6'>{{product.DESCRIPCION}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Modelo:</div>
                        <div class='col-md-6'>{{product.MODELO}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Estiba:</div>
                        <div class='col-md-6'>{{product.ESTIBA}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Uso:</div>
                        <div class='col-md-6'>{{product.USO}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Capacidad (LBS):</div>
                        <div class='col-md-6'>{{product.CAPACIDAD}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Combustible</div>
                        <div class='col-md-6'>{{product.COMBUSTIBLE}}</div>
                    </div>
                    <div class='row'>
                        <div class='col-md-3'>Ancho De Pasillo</div>
                        <div class='col-md-6'>{{product.ANCHO_DE_PASILLO}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel-footer'>
            <a class='btn btn-default' (click)='onBack()' style='width:100px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Regresar
            </a>
        </div>
    </div>
    </div>
</div>