<div class="col-md-12">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Capacidad</h3>
            </div>
            <div class="panel-body">
                <select class="form-control"
                    name="allCapacidades"
                    #allCapacidades
                    (change)=applyFilter(allCapacidades.value)
                    (change)="onSelectCapacidad(allCapacidades.value)">
                    <option value="ALL" [selected]="allNoneCapacidad === true">Todas...</option>
                    <option 
                        *ngFor="let c of capacidad"
                        [ngValue]="c.capacidadId"
                        [value]="c.capacidadId">
                    {{ c.name }}</option>
                </select>
            </div>
        </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Uso</h3>
            </div>
            <div class="panel-body">
                <select class="form-control"
                    name="allCapacidades"
                    #allUsos
                    (change)=applyFilter(allUsos.value)
                    (change)="onSelectUso(allUsos.value)">
                    <option value="ALL" [selected]="allNoneUso === true">Todos...</option>
                    <option 
                        *ngFor="let u of uso"
                        [ngValue]="u.usoId"
                        [value]="u.usoId">
                    {{ u.name }}</option>
                </select>
            </div>
        </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Combustible</h3>
            </div>
            <div class="panel-body">
                <select class="form-control"
                    name="allCapacidades"
                    #allCombustibles
                    (change)=applyFilter(allCombustibles.value)
                    (change)="onSelectCombustible(allCombustibles.value)">
                    <option value="ALL" [selected]="allNoneCombustible === true">Todos...</option>
                    <option 
                        *ngFor="let com of combustible"
                        [ngValue]="com.combustibleId"
                        [value]="com.combustibleId">
                    {{ com.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="colmd-12 panel panel-default">
            <div class="panel-heading text-center">
                <button
                    class="btn btn-danger pull-left no-outline" 
                    (click)="applyFilter('ALL')"
                    (click)="onSelectAll()"
                    [class.active]="selectAll === 'Todo'">
                    Ver Todo
                </button>
                <div class="pull-right input-group max-230">
                    <input
                    type="text" 
                    [(ngModel)]='listFilter' 
                    placeholder="Busqueda" 
                    class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default no-outline" (click)="clearInput()">
                        <i class="glyphicon glyphicon-remove" 
                        [class.color-black]="listFilter"
                        [class.color-gray]="!listFilter"
                        >
                        </i>
                        </button>
                    </span>
                    </div>
                <h3 class="panel-title">Filtro:<br /> {{ titleShow  }}</h3>
            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Modelo</th>
                            <th>Estiba</th>
                            <th>Uso</th>
                            <th>Capacidad (LBS)</th>
                            <th>Combustible</th>
                            <th>Ancho de pasillo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filterproducts | paginate: { itemsPerPage: 10, currentPage: p}">
                            <td><a [routerLink]="['/productos', product.MODELO]">{{ product.DESCRIPCION }}</a></td>
                            <td>{{ product.MODELO }}</td>
                            <td>{{ product.ESTIBA }}</td>
                            <td>{{ product.USO }}</td>
                            <td>{{ product.CAPACIDAD }}</td>
                            <td>{{ product.COMBUSTIBLE }}</td>
                            <td>{{ product.ANCHO_DE_PASILLO }}</td>
                        </tr>
                    </tbody>
                </table>

                <div  *ngIf='filterproducts?.length === 0'>No Existe Coincidencia con {{ titleShow  }}</div>
            </div>
            <div class="text-center">
                <pagination-controls 
                    (pageChange)="p = $event"
                    previousLabel=""
                    nextLabel="">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
